.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #4bc475;
    border: 1px solid #000;
}

.navbar__links {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    background: #FDFFFE;
}

.navbar__links>div {
    position: relative;
    padding: 10px 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Roboto, serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin: 5px 0px;
}

.navbar__links>div:hover {
    border-radius: 10px;
    border: 3px solid #393939;
    background-color: #eaf2e3;
}